/* FLEX BOX : Model layout 1 dimensi yang dapat mengatur jarak dan penjajaran antar item dalam sebuah container (Bisa mengatur ukuran ITEM di dalamnya secara otomatis/fleksible)
1 dimensi? : hanya dapat mengatur 1 dimensi pada saat tertentu antara baris atau kolom, tidak bisa keduanya sekaligus
flexbox layout module -> sebuah modul yang menawarkan cara yang efektif menyusun, mensejajarkan, dan mendistribusikan jarak antar item di dalam sebuah container, meskipun ukurannya dinamis atau bahkan kita tidak tau.

main-axis / main-size = horizontal;
cross-axis / cross-size = vertical;

property recomended :
.container{
    display: flex; (Membuat sebuah element parent menjadi flex-box dan membuat element-element di dalamnya bisa berprilaku flex juga)
    flex-direction : value -> row | row-reverse | column | column-reverse |||; (mengatur arah / urutan dari items di dalam container)
    flex-wrap: value : akan menurunkan itemnya ke bawah jika row sudah penuh -> nowrap | wrap | wrap-reverse; (Secara default semua items di dalam container akan berada pada satu baris meskipun ukurannya sudah tidak cukup, wrap memungkinkan untuk memindahkan items ke baris di bawahnya)
    justify-content: value -> flex-start | flex-end | center | space-between | space-around | space-evenly; (mengatur jarak antar items)
    align-items : value -> flex-start | flex-end | center | stretch | base-line; (mengatur perilaku penjajaran items terhadap cross axis)
    align-content : value -> flex-start | flex-end | center | stretch | space-between | space-around ; (hanya berlaku ketika contentnya lebih dari baris dan mengatur jarak antar items terhadap cross axis (hanya berfungsi ketika items lebih dari 1 baris))
    order : value -> (Di isi angka (1,2,3...n)) = (untuk mengatur urutan dari elementnya );
    flex-grow / shorthand flex: value -> (Di isi angka (1,2,3...n)); (untuk mengatur ukuran dari itemsnya)
    align-self: value -> flex-start | flex-end | stretch ; (mengatur perilaku penjajaran sebuah item yang spesifik terhadap cross axis)
} */

/* Istilah Pada Flex Box
==============================

main axis - Sumbu utama dari sebuah container yang menentukan urutan dari penempatan items secara horizontal
main-start | main-end - Mulai dan berakhir items yang disimpan di dalam container
main size - Ukuran (width/height) dari container yang akan membuat dimensi dari itemsnya relative terhadap main size */
